body {
  text-align: center;
  background-color: #b8b8b8;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}

.highscore {
  font-family: "McLaren", cursive;
  font-size: 3rem;
  margin: 3%;
  color: #000000;
  font-weight: 800;
}

.highscore1 {
  font-family: "McLaren", cursive;
  font-size: 2rem;
  margin: 3%;
  color: #000000;
  font-weight: 1000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.navbar {
  text-align: center;
}

.btn {
  margin: 2px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: #a10803;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}

.green {
  background-color: #25ad03;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}

.blue {
  background-color: #4ab5e6;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");
}

.yellow {
  background-color: #eeff05;
  background-image: url("https://www.transparenttextures.com/patterns/dark-brick-wall.png");

}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}